* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.container {
    max-width: 900px;
    margin: 60px auto;
}
.container > h1 {
	text-align: center;	
	margin-bottom: 50px;
}
h2.title {
	margin-bottom: 35px;	
	font-size: 	26px;
}
.gallery {
	margin-bottom: 100px;
}
.gallery-items {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    width: 100%;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    grid-gap: 15px;
}

.gallery-items img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

/* Modal */
.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    opacity: 0;
    -webkit-transition: opacity .4s;
    -o-transition: opacity .4s;
    transition: opacity .4s;
    pointer-events: none;
}
.modal-contents {
    min-width: 700px;
    background: #fff;
    padding: 10px;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.05);
            box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.05);
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    max-width: 1000px;
    height: calc(100vh - 100px);
    color: #000000;
}
.modal-contents figure {
    height: 100%;
    display: -ms-grid;
    display: grid;
    margin: 0;
    -ms-grid-rows: 1fr auto;
    grid-template-rows: 1fr auto;
}
.modal-contents figure img {
    width: 100%;
	height: 100%;
}
.modal-contents figcaption {
	padding: 10px;
}
.modal-contents figcaption h2,
.modal-contents figcaption p {
	color: #000;
}
.modal-container.open {
	opacity: 1;
	pointer-events: all;
}
.modal-container.open .modal-contents {
	-webkit-transform: translateY(0);
	    -ms-transform: translateY(0);
	        transform: translateY(0);
}
